.box {
  padding: 20px;
  border: 5px solid black;
  border-radius: 20px;
}

.box > .box {
  border-color: #ccc;
}
.box > .box:hover {
  background-color: green;
}
.box > .box .box {
  border-color: #eee;
}
.box > .box .box:hover {
  background-color: lightseagreen;
}
.box > .box .box span {
  font-size: 20px;
}
@media (min-width: 767px) {
  .box > .box .box span {
    font-size: 14px;
  }
}
@media (min-width: 400px) {
  .box {
    font-size: 16px;
  }
}

.box > .box.box {
  font-size: 12px;
}